{% extends 'base.html' %}
{% block title %}Professores{% endblock %}
{% block content %}
<h2>Professores</h2>
<a href="/professores/novo" class="btn btn-success mb-3">Novo Professor</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for professor in professores %}
        <tr>
            <td>{{ professor.id }}</td>
            <td>{{ professor.nome }}</td>
            <td>{{ professor.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
